/* This is redeclared so that it is processed by the color module */
a:link, a:visited {
  color: #027AC6;
}
#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #529AD6;
}
#tabs-wrapper, ul.secondary {
  border-bottom: 1px solid #eee;
}
tr.odd, tr.info {
  background-color: #EDF5FA;
}
tr.even, tr.odd, tbody th {
  border-color: #D3E7F4;
}


#header-region {
  min-height: 0;
}

#wrapper {
  background: url('images/body-top.png') repeat-x;
}

body {
  background: url(images/body.png) repeat 50% 0;
}

#wrapper #container {
  width: 870px;
  padding: 0px;
  background: url(images/container.png) repeat-y top left;
}

#wrapper #container-top {
  background: url(images/header.png) no-repeat;
}

#wrapper #container-bottom {
  padding: 15px;
  background: url(images/footer.png) no-repeat bottom left;
}

#wrapper #container #header {
  height: 70px;
}
#wrapper #container #header #logo-floater {
  float: left;
  margin-left: 15px;
  padding: 0 1px;
  background: #fff url(images/logo-floater.png) repeat-x top left;
}
#wrapper #container #header h1 {
  padding: 8px;
  border-bottom: solid 1px #eee;
  margin-bottom: -1px;
}
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: normal;
  color: #027AC6;
  float: left;
}
#wrapper #container #header h1 span {
  font-weight: normal;
}

ul.primary-links {
  top: 41px;
  margin-right: 8px;
}
ul.primary-links li {
  background: white url(images/inactive-tab.png) repeat-x bottom left;
  padding: 0px 1px;
  margin-left: 4px;
  float: left;
}
ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  background-image: none;
  color: #027AC6;
  margin: -1px 0 0 0;
  border-top: solid 1px white;
  height: 23px;
  padding: 3px 7px;
  float: left;
}
ul.primary-links li a:hover, ul.primary-links li a.active {
  color: #027AC6;
  text-decoration: none;
  background: white url(images/active-tab.png) repeat-x scroll left bottom;
}

#wrapper #container .breadcrumb {
  position: relative;
  left: 0px;
  top: 0px;
  padding: .5em;
  margin-bottom: -10px;
}

/** 
 * Sidebars
 */
#wrapper #container .sidebar {
  width: 180px;
  margin: 10px 0;
}
#wrapper #container .sidebar h2 {
  text-align: center;
}
#wrapper #container #sidebar-left {
  margin-right: 10px;
}
#wrapper #container #sidebar-right {
  margin-left: 10px;
}

#sidebar-left .block, #sidebar-right .block {
  padding: 0 5px;
}

/**
 * Content
 */

/* No sidebar */
#wrapper #container #center {
  background: url(images/content-0s.png) repeat-y top left;
  width: 860px;
  margin-top: 10px;
}
#wrapper #container #center #squeeze {
  background: url(images/content-0s-top.png) no-repeat top left;
}
#wrapper #container #center #squeeze2 {
  background: url(images/content-0s-bottom.png) no-repeat bottom left;
  padding: 20px 10px;
  min-height: 150px;
}

/* Right sidebar */
.sidebar-right #wrapper #container #center {
  background: url(images/content-1s.png) repeat-y top left;
  width: 860px;
}
.sidebar-right #wrapper #container #center #squeeze {
  background: url(images/content-1s-top.png) no-repeat top left;
}
.sidebar-right #wrapper #container #center #squeeze2 {
  background: url(images/content-1s-bottom.png) no-repeat bottom left;
  padding: 20px 10px;
}

/* Left sidebar */
.sidebar-left #wrapper #container #center {
  background: url(images/content-1s.png) repeat-y top right;
  width: 860px;
}
.sidebar-left #wrapper #container #center #squeeze {
  background: url(images/content-1s-top.png) no-repeat top right;
}
.sidebar-left #wrapper #container #center #squeeze2 {
  background: url(images/content-1s-bottom.png) no-repeat bottom right;
  padding: 20px 10px;
}

/* Two sidebars */
.sidebars #wrapper #container #center {
  background: url(images/content-2s.png) repeat-y top left;
  width: 460px;
  margin: 10px 0 0;
}
.sidebars #wrapper #container #center #squeeze {
  background: url(images/content-2s-top.png) no-repeat top left;
  margin: 0;
}
.sidebars #wrapper #container #center #squeeze2 {
  background: url(images/content-2s-bottom.png) no-repeat bottom left;
  padding: 20px 10px;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border-color: #eee;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: #027AC6;
}

ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover, ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  border-color: #ccc;
  background-image: none;
  color: #333;
}

#tabs-wrapper, ul.secondary {
  margin: 0 0 1em;
}

.node, #comments {
  margin: 0;
}

fieldset {
  background-image: none
}

#wrapper #container #footer {
  min-height: 5px;
  margin: 0px;
}